<!-- -*- engine:django -*- -->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - {{ settings["blog"]["name"] }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ theme_static("style.css") }}" type="text/css">
    <!-- moment.js - needed for pretty dates! -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    {% for endpoint in ["micropub", "microsub", "authorization_endpoint", "token_endpoint", "webmention", "micropub_media"] %}
    {% if settings["endpoints"].get(endpoint) != None %}
    <link rel="{{ endpoint }}" href="{{ settings["endpoints"][endpoint] }}">
    {% endif %}
    {% endfor %}
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="flashes">
    {% for category, message in messages %}
      <div class="flash flash-{{ category }}">{{ message }}</div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <header class="siteheader">
      <h1 class="blog_title">{{ settings["blog"]["name"] }}</h1>
      {% if settings["blog"]["subtitle"] %}
      <p class="blog_subtitle">{{ settings["blog"]["subtitle"] }}</p>
      {% endif %}
    </header>

    <nav class="sitenav">
      <ul class="navlist">
        <li><a href="{{ url_for(".index") }}">Main</a></li>
        <!-- TODO navigation from settings["blog"]["menu"] -->
        <li><a href="{{ url_for(".settings_view") }}">Settings</a></li>
        <li><a href="#">Login (WIP)</a></li>
      </ul>
    </nav>

    <main>
      {% block main %}{% endblock %}
    </main>
    <footer class="sitefooter">
      {% if settings["blog"]["footer"] %}
      {{ settings["blog"]["footer"] | safe }}
      {% endif %}
    </footer>
    <script type="text/javascript">
     // Relpace dates with prettier dates
     var elements = document.querySelectorAll(".dt-published");
     Array.prototype.forEach.call(elements, function(el, i){
         date = moment(el.innerHTML)
         el.innerHTML = date.format("ll, [at] LT")
     });
    </script>
    <!-- Twemoji - needed for qt emojis <3 -->
    <script src="https://twemoji.maxcdn.com/v/12.1.3/twemoji.min.js" integrity="sha384-PEQg4NJbyXT+TJJVKYN9zmD5ehVaV3TiBdzovT7WkshNClGNg8+bk4hKQ+lGrgaw" crossorigin="anonymous"></script>
    <style type="text/css">
     img.emoji {
         height: 1.2em;
         width: 1.2em;
     }
    </style>
    <script type="text/javascript">
     // Randomize like icons
     // Since this is my most used quick post, I think I need some variety
     // I want to do it with JS so the icons will always be different
     var heart_emojis = ["❤️", "🧡", "💛", "💙", "💜", "💚", "💝", "💗", "💓", "💕", "💖", "💞", "💘"];
     var pride_emojis = ["❤️", "🧡", "💛", "💚", "💙", "💜"];
     function randomHeart() {
         return heart_emojis[Math.floor(Math.random()*heart_emojis.length)];
     }
     if ((new Date()).getMonth() == 5) {
         // If it's June, it's Pride Month.
         // Celebrate by trying to construct a pride flag from like posts.
         var counter = 0;
         document.querySelectorAll(".action-icon.action-like-of").forEach(node => {
             node.innerHTML = pride_emojis[counter % 7];
             counter++;
         });
     } else {
         document.querySelectorAll(".action-icon.action-like-of").forEach(node => {
             node.innerHTML = randomHeart();
         });
     }
     // Insert cute emojis with Twemoji
     twemoji.parse(document.body, {
         callback: function(icon, options, variant) {
             switch ( icon ) {
                 case 'a9':      // © copyright
                 case 'ae':      // ® registered trademark
                 case '2122':    // ™ trademark
                     return false;
             }
             return ''.concat(options.base, options.size, '/', icon, options.ext);
         }
     });
    </script>
  </body>
</html>
