<!-- -*- engine:django -*- -->
{% extends theme("base.html") %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
  {% with hcard = hcard["properties"] %}
    <article class="h-card">
      <h1 class="p-name">{{ hcard["name"][0] }}</h1>
      <div class="slidercontainer">
        <div class="slider">
          {% for img in hcard["photo"] %}
            <img src="{{ img }}">
          {% endfor %}
        </div>
      </div>
      <ul>
        {% if "url" in hcard %}
          <li>Links: <ul>{% for u in hcard["url"] %}<li><a href="{{ u }}" class="u-url">{{ u }}</a></li>{% endfor %}</ul></li>
        {% endif %}
        {% if "geo" in hcard %}
          {%- if "h-geo" in hcard["geo"][0].get("type", []) %}
            <li>Geo:
              <span class="p-geo h-geo">
                {% set geo = hcard["geo"][0]["properties"] %}
                <span class="p-latitude">{{ geo["latitude"][0] }}</span>,
                <span class="p-longitude">{{ geo["longitude"][0] }}</span>
              </span>
              (<a href="https://www.openstreetmap.org/#map=18/{{ geo["latitude"][0] }}/{{ geo["longitude"][0] }}">OpenStreetMap</a>, <a href="https://maps.google.com/maps?q=loc:{{ geo["latitude"][0] }},{{ geo["longitude"][0] }}">Google</a>)
              <div id="hcardmap"><noscript>(enable JS to show the map)</noscript></div>
            </li>
          {% endif %}
        {% endif %}
        {% if "adr" in hcard %}
          <li>Addresses:<ul>
            {% for adr in hcard["adr"] %}
              <li class="h-adr p-adr">
                {% if "street-address" in adr %}<span class="p-street-address">{{ adr["street-address"] }}</span>{% endif %}
                {% if "locality" in adr %}<span class="p-locality">{{ adr["locality"] }}</span>{% endif %}
                {% if "country-name" in adr %}<span class="p-country-name">{{ adr["country-name"] }}</span>{% endif %}
              </li>
            {% endfor %}
          </ul></li>
        {% endif %}
    </article>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <script>
     document.getElementById("hcardmap").style.display = "block";
     var coords = [{{ geo["latitude"][0] }}, {{ geo["longitude"][0] }}]
     // create the tile layer with correct attribution
     var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
     var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
     var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 20, attribution: osmAttrib});
     var mymap = L.map('hcardmap').setView(coords, 17);
     mymap.addLayer(osm);
     var marker = L.marker(coords).addTo(mymap);
    </script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css"
          integrity="sha384-PZZ0iQUb2LawAE6IluKzBVRHVB85dkzT3VbPqYx+he9UEfPLUsTpu2B/Qwv6ueAk"
          crossorigin="anonymous">
    <style type="text/css">
     .tns-nav, .tns-controls {
         text-align: center;
     }
    </style>
    <!--[if (lt IE 9)]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.helper.ie8.js"
              integrity="sha384-grn4sIXlylGS+HCucpvF0KHkCIZWjgS1FSIu2YkdJkpZHg/O+oJr3rC68eQWMMs5"
              crossorigin="anonymous"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"
            integrity="sha384-RN0EuTrQPTQ/P/rBhKqSb+xAk8ZAPcJwVI8+aaHM2oFV15kWI+79s48+49F8FwFE"
            crossorigin="anonymous"></script>
    <script>
     var slider = tns({
         container: '.slider',
         items: 1,
         fixedWidth: 480,
         center: true,
         controlsPosition: "bottom",
         navPosition: "bottom",
         gutter: 15
     });
    </script>
  {% endwith %}
{% endblock %}
