<!-- -*- engine:django -*- -->
{% extends theme("base.html") %}
{% from theme("render_post.html") import render_post with context %}
{% block title %}Feed{% endblock %}
{% block main %}
<div class="h-card me">
  {% with author = settings["blog"]["author"]["properties"] %}
  <div class="avatarholder">
    <img style="width: 128px;" class="u-photo" src="{{ author["photo"][0] }}" alt="Author's avatar">
  </div>
  <div class="textholder">
    <h1 class="p-name"><a href="{{ author["url"][0] }}" class="u-url u-uid">{{ author["name"][0] }}</a></h1>
    {% if "note" in author %}<p class="p-note">{{ author["note"][0] }}</p>{% endif %}
    <ul>
      {% if "pronoun" in author %}<li>Pronouns: <ul>{% for pronoun in author["pronoun"] %}<li><a href="https://pronoun.is/{{ pronoun }}" class="u-pronoun">{{ pronoun }}</a></li>{% endfor %}</ul></li>{% endif %}
      <li>Also can be found on: <ul>
        {% for url in settings["blog"]["author"]["_rel_me"] %}
        <li><a href="{{ url }}" class="u-url" rel="me">{{ url }}</a></li>
        {% endfor %}
      </ul></li>
      {% if "email" in author %}
        <li>Email: <a href="mailto:{{ author["email"][0] }}" class="u-email">{{ author["email"][0] }}</a></li>
      {% endif %}
    </ul>
  </div>
  {% endwith %}
</div>
<div class="h-feed">
  {% if partial_feed %}
    <link rel="feed" class="u-url u-uid" href="{{ url_for(".full_feed") }}">
  {% endif %}
{% for post in posts %}
  {{ render_post(post, from_feed=partial_feed) }}
{% endfor %}
  <div class="paging">
    {# does rel="prev" correspond to previous page or older posts? #}
    {# aaronpk said it doesn't matter, just be consistent #}
    {% if "before" in paging %}
    <a rel="prev" href="{{ url_for(".index", before=paging["before"]) }}">Previous page</a>
    {% endif %}

    {% if "after" in paging %}
    <a rel="next" href="{{ url_for(".index", after=paging["after"]) }}">Next page</a>
    {% endif %}
  </div>
</div>
{% endblock %}
