<!-- -*- engine:django -*- -->
{% macro author(author, compact=False, no_u_author=False) %}
  {% if author|length <= 1 %}
    {% if author|length == 0 %}
      {# No author = default author. #}
      {% set hcard = settings["blog"]["author"] %}
    {% elif author[0] is string %}
      {# It's an URL. Fetch an h-card. #}
      {% set hcard = hcardify(author[0]) %}
    {% else %}
      {# It's already an h-card. #}
      {% set hcard = author[0] %}
    {% endif %}
    <a href="{{ hcard["properties"]["url"][0] }}" {{- ' class=u-author' if not no_u_author }}>
      {{- hcard["properties"]["name"][0] -}}
    </a>
  {% else %}
    {# TODO multiple authors #}
    <span>multiple authors</span>
  {% endif %}

{% endmacro %}

{%- macro post_link(post) -%}
  {%- if post is string -%}
    {{- post -}}
  {% else %}
    {{- post["properties"]["url"][0] -}}
  {%- endif -%}
{%- endmacro -%}

{% macro time(time, class="published") %}
  <time class="dt-{{ class }}" datetime="{{ time }}">{{ time }}</time>
{% endmacro %}

{% macro render_post(post, from_feed=False) %}
  {% if post["properties"].get("_deleted") or post["properties"].get("deleted") %}
    {% if from_feed %}
      <article class="h-entry deletedpost compactpost">
        <p class="e-content">
          There was a post, but now it is, unfortunately, gone. Forever.
          {% if post["properties"].get("deleted") %}
            It's deleted since <time class="dt-deleted" datetime="{{ post["properties"]["deleted"] }}">
            {{ post["properties"]["deleted"][-1] }}
            </time>
          {% else %}
            It is unavailable since <span class="dt-deleted">time immemorial</span>
          {% endif %}.
        </p>
      </article>
    {% else %}
      <article class="h-entry deletedpost">
        <h1>410 GONE</h1>
        <p class="e-content">
          There was a post, but now it is, unfortunately, gone.
          {% if post["properties"].get("deleted") %}
            It's deleted since <time class="dt-deleted" datetime="{{ post["properties"]["deleted"] }}">
            {{ post["properties"]["deleted"][-1] }}
            </time>
          {% else %}
            It is unavailable since <span class="dt-deleted">time immemorial</span>
          {% endif %}.
        </p>
      </article>
    {% endif %}
  {% else %}
    {% if "like-of" in post["properties"] %}
      {{ render_like(post) }}
    {% elif "bookmark-of" in post["properties"] %}
      {{ render_like(post, action="bookmarked", property="bookmark-of") }}
    {% elif "ate" in post["properties"] or "drank" in post["properties"] %}
      {{ render_food(post) }}
    {% else %}
      {{ render_normal_post(post, compact=from_feed) }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro render_normal_post(post, compact=False) %}
  <article class="h-entry">
    <header class="articleheader">
      {% if "name" in post["properties"] %}<h1 class="p-name">{{ post["properties"]["name"][0] }}</h1>{% endif %}
      <p>Published: <a class="u-url" href="{{ post["properties"]["url"][0] }}">{{ time(post["properties"]["published"][0]) }}</a> by {{ author(author=post["properties"]["author"], compact=True) }}
        {%-if "in-reply-to" in post["properties"] %}
          in reply to <a href="{{ post_link(post["properties"]["in-reply-to"][0]) }}" class="u-in-reply-to">{{ post_link(post["properties"]["in-reply-to"][0]) }}</a>
        {%- endif -%}
      </p>
      {% if "updated" in post["properties"] %}
        <p>Last updated: {{ time(post["properties"]["updated"][-1], class="updated") }}</p>
      {% endif %}
      {% if post["properties"].get("category", []) | length > 0 %}
        <div class="categorylistcontainer"><span>Tags:</span> <ul class="categorylist">
          {%- for tag in post["properties"]["category"] -%}
            <li class="p-category">{{ tag }}</li>
          {%- endfor -%}
        </ul></div>
      {% endif %}
      {% if post["properties"].get("syndication", []) | length > 0 %}
        <div class="syndicationlistcontainer"><span>Also on:</span> <ul class="syndicationlist">
          {%- for url in post["properties"]["syndication"] -%}
            <li><a class="u-syndication" href="{{ url }}">{{ hostname(url) }}</a></li>
          {% endfor %}
        </ul></div>
      {% endif %}
      {% if post["properties"].get("mp-syndicate-to", []) | length > 0 %}
        <div style="display: none;" class="syndicationpendinglistcontainer"><span>Preparing syndication to:</span> <ul class="pendingsyndicationlist">
          {% for url in post["properties"]["mp-syndicate-to"] %}
            <li><a href="{{ url }}" class="u-category">{{ hostname(url) }}</a></li>
          {% endfor %}
        </ul></div>
      {% endif %}
      {% if "checkin" in post["properties"] %}
        {% with checkin = venueify(post["properties"]["checkin"][0]) %}
          <p>Checked-in at <span class="u-checkin h-card"><a class="p-name u-url u-uid" href="{{ checkin["url"] }}">{{ checkin["name"] }}</a> <span class="p-geo h-geo">(<span class="p-latitude">{{ checkin["latitude"] }}</span>, <span class="p-longitude">{{ checkin["longitude"] }}</span>)</span></span></p>
        {% endwith %}
      {% endif %}
    </header>
    <main>
      {% if "photo" in post["properties"] %}
        <div class="photo_container">
          {% for photo in post["properties"]["photo"] %}
            {% if photo is string %}
              <img class="u-photo" src="{{ photo }}" alt="Unannotated picture">
            {% else %}
              <img class="u-photo" src="{{ photo.value }}" alt="{{ photo.alt }}">
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if "video" in post["properties"] %}
        <div class="video_container">
          {% for video in post["properties"]["video"] %}
            <video class="u-video" controls src={{ video }}>Here should be a video. If you don't see it, something went wrong and I can't say what exactly. Try <a href="https://browsehappy.com">another browser</a>?</video>
          {% endfor %}
        </div>
      {% endif %}
      {% if "summary" in post["properties"] and compact %}
        <div class="p-summary">
          {{ post["properties"]["summary"][0] | safe }}
        </div>
        <a href="{{ post["properties"]["url"][0] }}">Read more...</a>
      {% else %}
        <div class="e-content">
          {% if post["properties"]["content"][0] is string %}
            {# TODO Markdown? #}
            {{ post["properties"]["content"][0] | safe }}
          {% else %}
            {{ post["properties"]["content"][0]["html"] | safe }}
          {% endif %}
        </div>
      {% endif %}
    </main>
    <footer class="articlefooter">
    </footer>
  </article>
{% endmacro %}

{% macro render_food(post) %}
  <article class="h-entry compactpost foodpost">
    <p class="p-content">
      {{ author(author=post["properties"]["author"], compact=True) }}
      {% if "ate" in post["properties"] %}
        <span class="h-ate">ate <span class="p-name">{{ post["properties"]["ate"][0]["properties"]["name"] }}</span></span>
      {% endif %}
      {% if "drank" in post["properties"] %}
        <span class="h-drank">drank <span class="p-name">{{ post["properties"]["drank"][0]["properties"]["name"] }}</span></span>
      {% endif %}
      on {{ time(post["properties"]["published"][0]) }}
      {% if "content" in post["properties"] %}
        and added:
      {% endif %}
    </p>
    {% if "content" in post["properties"] %}
      <div class="e-content">
    {% if post["properties"]["content"][0] is string %}
    {# TODO Markdown? #}
      {{ post["properties"]["content"][0] | safe }}
    {% else %}
      {{ post["properties"]["content"][0]["html"] | safe }}
    {% endif %}
  </div>
  {% endif %}
</article>
{% endmacro %}

{% macro render_like(post, action="liked", property="like-of") %}
  <article class="h-entry compactpost">
    <div class="action-icon action-{{ property }}">
      {% if property == "like-of" %}
        ❤️
      {% elif property == "repost-of" %}
        🔁
      {% elif property == "bookmark-of" %}
        🔖
      {% endif %}
    </div>
    <p>
      {{ author(author=post["properties"]["author"], compact=True) }}
      <a href={{ post["properties"]["url"][0] }}>{{ action }}</a>
      <a href="{{ post_link(post["properties"][property][0]) }}" class="u-{{ property }}">
        {{- post_link(post["properties"][property][0]) | truncate(100) -}}
      </a>
      <br>
      {# unimplemented macro #}
      {# by {{ postauthor(post["properties"]["like-of"][0], compact=True) }} #}
      only {{ time(post["properties"]["published"][0]) }}
    </p>
  </article>
{% endmacro %}
