<!-- -*- engine:django -*- -->
{% extends theme("base.html") %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
<article>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>
{% endblock %}
