body {
    font-family: -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
               'avenir next', avenir, /* MacOS and iOS */
               'Segoe UI', /* Windows */
               'lucida grande', /* Older MacOS */
               'helvetica neue', helvetica, /* Older MacOS */
               'Fira Sans', /* Firefox OS */
               roboto, noto, /* Google stuff */
               'Droid Sans', /* Old Google stuff */
               cantarell, oxygen, ubuntu, /* Linux stuff */
               'franklin gothic medium', 'century gothic', /* Windows stuff */
               'Liberation Sans', /* some more Linux stuff */
               sans-serif; /* Everything else */;
    margin: auto;
    width: 80%;
}
header.siteheader, footer.sitefooter {
    text-align: center;
    margin: 1em;
}
header.siteheader > p, header.siteheader > div {
    margin-top: 0;
}
header.siteheader > h1 {
    margin-bottom: 0;
}
ul.navlist {
    padding-left: inherit;
}
ul.navlist li {
    list-style: none;
}
article.h-entry {
    margin: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}
article.h-entry header p, article.h-entry header li, article.h-entry header span {
    color: grey;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
}
article.h-entry header {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
article.h-entry footer {
    border-top: 1px solid grey;
    padding-top: 10px;
}
article.h-entry main {
    margin-top: 10px;
    margin-bottom: 10px;
}
article.compactpost {
    display: flex;
    align-items: center;
}
article.compactpost p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
}
.action-icon {
    margin-right: 0.3em; font-size: xx-large;
}
.action-icon img {
    /* Needed due to Twemoji */
    vertical-align: -0.2em;
}
article.deletedpost h1 {
    font-family: "Noto Sans Mono", monospace;
}
img.u-photo {
    max-width: 100%;
    display: block;
    margin: auto;
}
.flashes {
    -moz-animation: hideFlash 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hideFlash 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hideFlash 0s ease-in 5s forwards;
    /* Opera */
    animation: hideFlash 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin-top: 0;
    margin-bottom: 0;
}
.flash {
    border: 3px solid grey;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}
.flash-error {
    border-color: #FF0000;
    background-color: #FFAAAA;
}
.flash-warning {
    border-color: #FFFF00;
    background-color: #FFFFAA;
}
.flash-ok {
    border-color: #00FF00;
    background-color: #AAFFAA;
}
@keyframes hideFlash {
    to {
        width: 0;
        height: 0;
        overflow:hidden;
    }
}
ul.categorylist, ul.syndicationlist, ul.syndicationpendinglist {
    display: inline;
    padding-left: 0;
}
ul.categorylist li, ul.syndicationlist li, ul.syndicationpendinglist li {
    display: inline;
    margin-right: 0.5em;
}
ul.categorylist .p-category::before {
    content: "#";
}
ul.syndicationlist .u-syndication::before {
    content: "@";
}
.me {
    display: flex;
    margin: 3em;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.avatarholder > img {
    border: 1px solid grey;
    margin: 1em;
}
#hcardmap {
    height: 320px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
